.menu{
    height: 60px;
    width: 100%;
    background-color:black;
    position: fixed; 
    top: 0; 
    left: 0; 
}

h2{
    color: white;
    text-align: center;
    align-content: center;
}

.lateral{
    height: 1000px;
    width: 200px;
    background-color: rgb(240, 160, 160);
    position: sticky;
    position: fixed;
    display: inline-block;
    top: 60px;
    left: 0px;
}

.texto{
    width: auto;
    height: auto;
    margin: 60px 0px 0px 200px;
}



